* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-color: #f7f7ff;
}

header {
  height: 130px;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: height 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  background-color: #332680;
}

.logo {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 7px;
  color: #fff;
  transition: 0.3s font-size ease;
}

section {
  height: 200vh;
}

ul {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

li {
  height: 100%;
  width: 80px;
  background-color: transparent;
  color: #fff;
  list-style-type: none;
  text-align: center;
  line-height: 50px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

li a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}
